# NL-to-SQL scaffold (classicmodels)

What this notebook does:
- Auth to GCP
- Safe Cloud SQL connection (classicmodels) via connector + SQLAlchemy
- Schema helpers + QueryRunner tool
- Smoke tests and dataset validator
- Base Llama-3-8B load (pre-QLoRA placeholder)

In [1]:
# Auth to Google Cloud (Colab) or skip gracefully elsewhere
try:
    from google.colab import auth
except ModuleNotFoundError:
    auth = None
if auth:
    auth.authenticate_user()
else:
    print("Not running in Colab; ensure GCP auth via gcloud/ADC or service account if needed.")

Not running in Colab; ensure GCP auth via gcloud/ADC or service account if needed.

## Project context
Swap to env var in production if you don't want to hardcode project_id.

In [2]:
import os
project_id = "modified-enigma-476414-h9"  # replace with env var in production
os.environ["GOOGLE_CLOUD_PROJECT"] = project_id

## Installs
Pin these in a requirements cell/file for real runs.

In [3]:
import sys
# Prefer installing from pinned requirements.txt for reproducibility
!{sys.executable} -m pip install --upgrade pip
!{sys.executable} -m pip install -r requirements.txt

Requirement already satisfied: pip in /opt/anaconda3/lib/python3.12/site-packages (25.3)
Collecting torch==2.2.2 (from -r requirements.txt (line 1))
  Downloading torch-2.2.2-cp312-none-macosx_11_0_arm64.whl.metadata (25 kB)
Collecting transformers==4.37.2 (from -r requirements.txt (line 2))
  Downloading transformers-4.37.2-py3-none-any.whl.metadata (129 kB)
Collecting accelerate==0.27.2 (from -r requirements.txt (line 3))
  Downloading accelerate-0.27.2-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: bitsandbytes==0.42.0 in /opt/anaconda3/lib/python3.12/site-packages (from -r requirements.txt (line 4)) (0.42.0)
Collecting peft==0.10.0 (from -r requirements.txt (line 5))
  Downloading peft-0.10.0-py3-none-any.whl.metadata (13 kB)
Collecting trl==0.7.10 (from -r requirements.txt (line 6))
  Downloading trl-0.7.10-py3-none-any.whl.metadata (10 kB)
Collecting datasets==2.16.1 (from -r requirements.txt (line 7))
  Downloading datasets-2.16.1-py3-none-any.whl.metadata (20 kB)
Collecting google-api-core==2.11.1 (from -r requirements.txt (line 8))
  Downloading google_api_core-2.11.1-py3-none-any.whl.metadata (2.7 kB)
Collecting cloud-sql-python-connector==1.18.5 (from cloud-sql-python-connector[pymysql]==1.18.5->-r requirements.txt (line 9))
  Downloading cloud_sql_python_connector-1.18.5-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: SQLAlchemy==2.0.7 in /opt/anaconda3/lib/python3.12/site-packages (from -r requirements.txt (line 10)) (2.0.7)
Collecting pymysql==1.1.0 (from -r requirements.txt (line 11))
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Collecting cryptography==42.0.5 (from -r requirements.txt (line 12))
  Downloading cryptography-42.0.5-cp39-abi3-macosx_10_12_universal2.whl.metadata (5.3 kB)
Collecting pandas==2.2.1 (from -r requirements.txt (line 13))
  Downloading pandas-2.2.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: filelock in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.2->-r requirements.txt (line 1)) (3.13.1)
Requirement already satisfied: typing-extensions>=4.8.0 in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.2->-r requirements.txt (line 1)) (4.15.0)
Requirement already satisfied: sympy in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.2->-r requirements.txt (line 1)) (1.14.0)
Requirement already satisfied: networkx in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.2->-r requirements.txt (line 1)) (3.2.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.2->-r requirements.txt (line 1)) (3.1.4)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.2->-r requirements.txt (line 1)) (2024.3.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.19.3 in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (0.36.0)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (2023.10.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (2.32.5)
Collecting tokenizers<0.19,>=0.14 (from transformers==4.37.2->-r requirements.txt (line 2))
  Downloading tokenizers-0.15.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.7 kB)
Requirement already satisfied: safetensors>=0.4.1 in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (0.7.0)
Requirement already satisfied: tqdm>=4.27 in /opt/anaconda3/lib/python3.12/site-packages (from transformers==4.37.2->-r requirements.txt (line 2)) (4.66.4)
Requirement already satisfied: psutil in /opt/anaconda3/lib/python3.12/site-packages (from accelerate==0.27.2->-r requirements.txt (line 3)) (5.9.0)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (from bitsandbytes==0.42.0->-r requirements.txt (line 4)) (1.13.1)
Collecting tyro>=0.5.11 (from trl==0.7.10->-r requirements.txt (line 6))
  Downloading tyro-0.9.35-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: pyarrow>=8.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from datasets==2.16.1->-r requirements.txt (line 7)) (22.0.0)
Collecting pyarrow-hotfix (from datasets==2.16.1->-r requirements.txt (line 7))
  Downloading pyarrow_hotfix-0.7-py3-none-any.whl.metadata (3.6 kB)
Collecting dill<0.3.8,>=0.3.0 (from datasets==2.16.1->-r requirements.txt (line 7))
  Downloading dill-0.3.7-py3-none-any.whl.metadata (9.9 kB)
Requirement already satisfied: xxhash in /opt/anaconda3/lib/python3.12/site-packages (from datasets==2.16.1->-r requirements.txt (line 7)) (3.6.0)
Requirement already satisfied: multiprocess in /opt/anaconda3/lib/python3.12/site-packages (from datasets==2.16.1->-r requirements.txt (line 7)) (0.70.18)
Collecting fsspec (from torch==2.2.2->-r requirements.txt (line 1))
  Downloading fsspec-2023.10.0-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: aiohttp in /opt/anaconda3/lib/python3.12/site-packages (from datasets==2.16.1->-r requirements.txt (line 7)) (3.13.2)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core==2.11.1->-r requirements.txt (line 8)) (1.72.0)
Collecting protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 (from google-api-core==2.11.1->-r requirements.txt (line 8))
  Downloading protobuf-4.25.8-cp37-abi3-macosx_10_9_universal2.whl.metadata (541 bytes)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core==2.11.1->-r requirements.txt (line 8)) (2.43.0)
Collecting aiofiles (from cloud-sql-python-connector==1.18.5->cloud-sql-python-connector[pymysql]==1.18.5->-r requirements.txt (line 9))
  Downloading aiofiles-25.1.0-py3-none-any.whl.metadata (6.3 kB)
Collecting dnspython>=2.0.0 (from cloud-sql-python-connector==1.18.5->cloud-sql-python-connector[pymysql]==1.18.5->-r requirements.txt (line 9))
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/lib/python3.12/site-packages (from cryptography==42.0.5->-r requirements.txt (line 12)) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas==2.2.1->-r requirements.txt (line 13)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas==2.2.1->-r requirements.txt (line 13)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas==2.2.1->-r requirements.txt (line 13)) (2023.3)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core==2.11.1->-r requirements.txt (line 8)) (6.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core==2.11.1->-r requirements.txt (line 8)) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core==2.11.1->-r requirements.txt (line 8)) (4.9.1)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.3 in /opt/anaconda3/lib/python3.12/site-packages (from huggingface-hub<1.0,>=0.19.3->transformers==4.37.2->-r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->transformers==4.37.2->-r requirements.txt (line 2)) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->transformers==4.37.2->-r requirements.txt (line 2)) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests->transformers==4.37.2->-r requirements.txt (line 2)) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests->transformers==4.37.2->-r requirements.txt (line 2)) (2025.11.12)
Requirement already satisfied: pyasn1>=0.1.3 in /opt/anaconda3/lib/python3.12/site-packages (from rsa<5,>=3.1.4->google-auth<3.0.dev0,>=2.14.1->google-api-core==2.11.1->-r requirements.txt (line 8)) (0.6.1)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets==2.16.1->-r requirements.txt (line 7)) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets==2.16.1->-r requirements.txt (line 7)) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets==2.16.1->-r requirements.txt (line 7)) (25.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets==2.16.1->-r requirements.txt (line 7)) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets==2.16.1->-r requirements.txt (line 7)) (6.7.0)
Requirement already satisfied: propcache>=0.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets==2.16.1->-r requirements.txt (line 7)) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp->datasets==2.16.1->-r requirements.txt (line 7)) (1.22.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12->cryptography==42.0.5->-r requirements.txt (line 12)) (2.23)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas==2.2.1->-r requirements.txt (line 13)) (1.16.0)
Collecting docstring-parser>=0.15 (from tyro>=0.5.11->trl==0.7.10->-r requirements.txt (line 6))
  Downloading docstring_parser-0.17.0-py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: rich>=11.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from tyro>=0.5.11->trl==0.7.10->-r requirements.txt (line 6)) (13.7.1)
Collecting shtab>=1.5.6 (from tyro>=0.5.11->trl==0.7.10->-r requirements.txt (line 6))
  Downloading shtab-1.8.0-py3-none-any.whl.metadata (7.3 kB)
Collecting typeguard>=4.0.0 (from tyro>=0.5.11->trl==0.7.10->-r requirements.txt (line 6))
  Downloading typeguard-4.4.4-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich>=11.1.0->tyro>=0.5.11->trl==0.7.10->-r requirements.txt (line 6)) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich>=11.1.0->tyro>=0.5.11->trl==0.7.10->-r requirements.txt (line 6)) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich>=11.1.0->tyro>=0.5.11->trl==0.7.10->-r requirements.txt (line 6)) (0.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jinja2->torch==2.2.2->-r requirements.txt (line 1)) (2.1.3)
INFO: pip is looking at multiple versions of multiprocess to determine which version is compatible with other requirements. This could take a while.
Collecting multiprocess (from datasets==2.16.1->-r requirements.txt (line 7))
  Downloading multiprocess-0.70.17-py312-none-any.whl.metadata (7.2 kB)
  Downloading multiprocess-0.70.16-py312-none-any.whl.metadata (7.2 kB)
  Downloading multiprocess-0.70.15-py311-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from sympy->torch==2.2.2->-r requirements.txt (line 1)) (1.3.0)
Downloading torch-2.2.2-cp312-none-macosx_11_0_arm64.whl (59.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.7/59.7 MB 8.3 MB/s  0:00:07m0:00:0100:01
Downloading transformers-4.37.2-py3-none-any.whl (8.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 6.9 MB/s  0:00:01 eta 0:00:01
Downloading accelerate-0.27.2-py3-none-any.whl (279 kB)
Downloading peft-0.10.0-py3-none-any.whl (199 kB)
Downloading trl-0.7.10-py3-none-any.whl (150 kB)
Downloading datasets-2.16.1-py3-none-any.whl (507 kB)
Downloading google_api_core-2.11.1-py3-none-any.whl (120 kB)
Downloading cloud_sql_python_connector-1.18.5-py3-none-any.whl (49 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Downloading cryptography-42.0.5-cp39-abi3-macosx_10_12_universal2.whl (5.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.9/5.9 MB 8.9 MB/s  0:00:00 eta 0:00:01
Downloading pandas-2.2.1-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 7.5 MB/s  0:00:01 eta 0:00:01
Downloading dill-0.3.7-py3-none-any.whl (115 kB)
Downloading fsspec-2023.10.0-py3-none-any.whl (166 kB)
Downloading protobuf-4.25.8-cp37-abi3-macosx_10_9_universal2.whl (394 kB)
Downloading tokenizers-0.15.2-cp312-cp312-macosx_11_0_arm64.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 7.4 MB/s  0:00:00 eta 0:00:01
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Downloading tyro-0.9.35-py3-none-any.whl (132 kB)
Downloading docstring_parser-0.17.0-py3-none-any.whl (36 kB)
Downloading shtab-1.8.0-py3-none-any.whl (14 kB)
Downloading typeguard-4.4.4-py3-none-any.whl (34 kB)
Downloading aiofiles-25.1.0-py3-none-any.whl (14 kB)
Downloading multiprocess-0.70.15-py311-none-any.whl (135 kB)
Downloading pyarrow_hotfix-0.7-py3-none-any.whl (7.9 kB)
Installing collected packages: typeguard, shtab, pymysql, pyarrow-hotfix, protobuf, fsspec, docstring-parser, dnspython, dill, aiofiles, torch, pandas, multiprocess, cryptography, tyro, tokenizers, google-api-core, cloud-sql-python-connector, accelerate, transformers, datasets, trl, peft
  Attempting uninstall: pymysql
    Found existing installation: PyMySQL 1.1.2
    Uninstalling PyMySQL-1.1.2:
      Successfully uninstalled PyMySQL-1.1.2
  Attempting uninstall: protobuf
    Found existing installation: protobuf 6.33.1
    Uninstalling protobuf-6.33.1:
      Successfully uninstalled protobuf-6.33.1
  Attempting uninstall: fsspec90m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  4/23 [protobuf]
    Found existing installation: fsspec 2024.3.1━━━━━━━━━━━━━━  4/23 [protobuf]
    Uninstalling fsspec-2024.3.1:━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  4/23 [protobuf]
      Successfully uninstalled fsspec-2024.3.1━━━━━━━━━━━━━━━━  4/23 [protobuf]
  Attempting uninstall: dillm╺━━━━━━━━━━━━━━━━━━━━━━━━━━━  7/23 [dnspython]
    Found existing installation: dill 0.4.0━━━━━━━━━━━━━━━━━━━  7/23 [dnspython]
    Uninstalling dill-0.4.0:0m━━━━━━━━━━━━━━━━━━━━━━━━━━━  7/23 [dnspython]
      Successfully uninstalled dill-0.4.0━━━━━━━━━━━━━━━━━━━━━  7/23 [dnspython]
  Attempting uninstall: torchm╸━━━━━━━━━━━━━━━━━━━━━━━━━━  8/23 [dill]]
    Found existing installation: torch 2.9.1━━━━━━━━━━━━━━━━━━  8/23 [dill]
    Uninstalling torch-2.9.1:╺━━━━━━━━━━━━━━━━━━━━━━ 10/23 [torch]
      Successfully uninstalled torch-2.9.1━━━━━━━━━━━━━━━━━━━━ 10/23 [torch]
  Attempting uninstall: pandas[90m╺━━━━━━━━━━━━━━━━━━━━━━ 10/23 [torch]
    Found existing installation: pandas 2.2.2━━━━━━━━━━━━━━━━━ 10/23 [torch]
    Uninstalling pandas-2.2.2:m╺━━━━━━━━━━━━━━━━━━━━ 11/23 [pandas]
      Successfully uninstalled pandas-2.2.2━━━━━━━━━━━━━━━━━━━ 11/23 [pandas]
  Attempting uninstall: multiprocess╺━━━━━━━━━━━━━━━━━━━━ 11/23 [pandas]
    Found existing installation: multiprocess 0.70.18━━━━━━━━━ 11/23 [pandas]
    Uninstalling multiprocess-0.70.18:[90m━━━━━━━━━━━━━━━━━━━━ 11/23 [pandas]
      Successfully uninstalled multiprocess-0.70.18━━━━━━━━━━━ 11/23 [pandas]
  Attempting uninstall: cryptographym╸━━━━━━━━━━━━━━━━━━━ 12/23 [multiprocess]
    Found existing installation: cryptography 41.0.0━━━━━━━━━━ 12/23 [multiprocess]
    Uninstalling cryptography-41.0.0:m━━━━━━━━━━━━━━━━━━━ 12/23 [multiprocess]
      Successfully uninstalled cryptography-41.0.0━━━━━━━━━━━━ 12/23 [multiprocess]
  Attempting uninstall: tokenizers0m╺━━━━━━━━━━━━━━━ 14/23 [tyro]ography]
    Found existing installation: tokenizers 0.22.1━━━━━━━━━━━━ 14/23 [tyro]
    Uninstalling tokenizers-0.22.1:0m╺━━━━━━━━━━━━━━━ 14/23 [tyro]
      Successfully uninstalled tokenizers-0.22.1━━━━━━━━━━━━━━ 14/23 [tyro]
  Attempting uninstall: google-api-core[0m━━━━━━━━━━━━━━━ 14/23 [tyro]
    Found existing installation: google-api-core 2.28.1━━━━━━━ 14/23 [tyro]
    Uninstalling google-api-core-2.28.1:0m━━━━━━━━━━━━━━━ 14/23 [tyro]
      Successfully uninstalled google-api-core-2.28.1━━━━━━━━━ 14/23 [tyro]
  Attempting uninstall: cloud-sql-python-connector[90m━━━━━━━━━━━━ 16/23 [google-api-core]
    Found existing installation: cloud-sql-python-connector 1.6.0m 16/23 [google-api-core]
    Uninstalling cloud-sql-python-connector-1.6.0:━━━━━━━━━━━━ 16/23 [google-api-core]
      Successfully uninstalled cloud-sql-python-connector-1.6.0[0m 16/23 [google-api-core]
  Attempting uninstall: acceleratem╸━━━━━━━━━━━━ 16/23 [google-api-core]
    Found existing installation: accelerate 1.12.0━━━━━━━━━━━━ 16/23 [google-api-core]
    Uninstalling accelerate-1.12.0:╸━━━━━━━━━━━━ 16/23 [google-api-core]
      Successfully uninstalled accelerate-1.12.00m━━━━━━━━━━━━ 16/23 [google-api-core]
  Attempting uninstall: transformers━━━╺━━━━━━━━ 18/23 [accelerate]]
    Found existing installation: transformers 4.57.30m━━━━━━━━ 18/23 [accelerate]
    Uninstalling transformers-4.57.3:━━━━╺━━━━━━ 19/23 [transformers]
      Successfully uninstalled transformers-4.57.3m━━━━━━ 19/23 [transformers]
  Attempting uninstall: datasets━━━━━━━━━╺━━━━━━ 19/23 [transformers]
    Found existing installation: datasets 4.4.1━━━━━━ 19/23 [transformers]
    Uninstalling datasets-4.4.1:━━━━━╺━━━━━━ 19/23 [transformers]
      Successfully uninstalled datasets-4.4.1m╺━━━━━━ 19/23 [transformers]
  Attempting uninstall: trl━━━━━━━━━━━━━━━╸━━━━━ 20/23 [datasets]
    Found existing installation: trl 0.25.1[91m╸━━━━━ 20/23 [datasets]
    Uninstalling trl-0.25.1:━━━━━━━━━━╸━━━━━ 20/23 [datasets]
      Successfully uninstalled trl-0.25.1━━━╸━━━ 21/23 [trl]]
  Attempting uninstall: peft━━━━━━━━━━━━╸━━━ 21/23 [trl]
    Found existing installation: peft 0.18.0╸━━━ 21/23 [trl]
    Uninstalling peft-0.18.0:━━━━━━━━━━━╸━━━ 21/23 [trl]
      Successfully uninstalled peft-0.18.00m╸━━━ 21/23 [trl]
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23/23 [peft]2m22/23 [peft]
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
s3fs 2024.3.1 requires fsspec==2024.3.1, but you have fsspec 2023.10.0 which is incompatible.
streamlit 1.32.0 requires cachetools<6,>=4.0, but you have cachetools 6.2.2 which is incompatible.
streamlit 1.32.0 requires packaging<24,>=16.8, but you have packaging 24.2 which is incompatible.
awsebcli 3.25 requires termcolor<3,>=2.4.0, but you have termcolor 2.3.0 which is incompatible.
awsebcli 3.25 requires urllib3<2,>=1.26.5, but you have urllib3 2.5.0 which is incompatible.


### Runtime tips (Colab/local)
- Install from pinned `requirements.txt`.
- Set env vars/ADC before connecting (project, instance, DB creds).
- If NumPy binary mismatch shows up, force-reinstall once and restart runtime.
- Run cells in order: installs → env/auth → connector/smoke tests → validation.

## Imports and logger

In [4]:
import os
import logging
from google.cloud.sql.connector import Connector
import sqlalchemy
from sqlalchemy import text
import pymysql
from typing import Optional

logging.basicConfig(level=logging.INFO)
logger = logging.getLogger("nl2sql_db")

## Connection params
Env first, prompt fallback during dev.

In [5]:
from getpass import getpass

INSTANCE_CONNECTION_NAME = os.getenv("INSTANCE_CONNECTION_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_NAME = os.getenv("DB_NAME", "classicmodels")

if not INSTANCE_CONNECTION_NAME:
    INSTANCE_CONNECTION_NAME = input("Enter INSTANCE_CONNECTION_NAME: ").strip()
if not DB_USER:
    DB_USER = input("Enter DB_USER: ").strip()
if not DB_PASS:
    DB_PASS = getpass("Enter DB_PASS: ")

## Connector + engine setup

In [6]:
from google.api_core import retry
from sqlalchemy.engine import Engine
import time
from contextlib import contextmanager

connector = Connector()

def getconn():
    """SQLAlchemy creator hook using the Cloud SQL connector."""
    return connector.connect(
        INSTANCE_CONNECTION_NAME,
        "pymysql",
        user=DB_USER,
        password=DB_PASS,
        db=DB_NAME,
    )

engine: Engine = sqlalchemy.create_engine("mysql+pymysql://", creator=getconn, future=True)

@contextmanager
def safe_connection(engine):
    """Yield a connection and clean up after use."""
    conn = None
    try:
        conn = engine.connect()
        yield conn
    finally:
        if conn:
            conn.close()

## Schema exploration helpers

In [7]:
import pandas as pd

def list_tables(engine) -> list:
    """Return a list of table names."""
    with safe_connection(engine) as conn:
        result = conn.execute(text("SHOW TABLES;")).fetchall()
    return [r[0] for r in result]

def get_table_columns(engine, table_name: str) -> pd.DataFrame:
    """Return a DataFrame of columns."""
    query = text("""
        SELECT COLUMN_NAME, DATA_TYPE, IS_NULLABLE, COLUMN_KEY
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_SCHEMA = :db AND TABLE_NAME = :table
        ORDER BY ORDINAL_POSITION
    """)
    with safe_connection(engine) as conn:
        df = pd.read_sql(query, conn, params={"db": DB_NAME, "table": table_name})
    return df

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

## Smoke tests

In [8]:
def fetch_sample_customers(limit: int = 10):
    q = text("SELECT customerNumber, customerName, country FROM customers LIMIT :limit;")
    with safe_connection(engine) as conn:
        df = pd.read_sql(q, conn, params={"limit": limit})
    return df

try:
    tables = list_tables(engine)
    logger.info("Tables in classicmodels: %s", tables)
    sample_df = fetch_sample_customers(5)
    display(sample_df)
except Exception as e:
    logger.exception("Smoke test failed: %s", e)

INFO:nl2sql_db:Tables in classicmodels: ['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

   customerNumber                customerName    country
0             103           Atelier graphique     France
1             112          Signal Gift Stores        USA
2             114  Australian Collectors, Co.  Australia
3             119           La Rochelle Gifts     France
4             121          Baane Mini Imports     Norway

## QueryRunner (read-only tool)

In [9]:
import json
from datetime import datetime, timezone
from typing import Any, Dict

class QueryExecutionError(Exception):
    pass

def now_utc_iso() -> str:
    return datetime.now(timezone.utc).isoformat().replace("+00:00", "Z")

class QueryRunner:
    """
    Execute generated SQL safely against the engine, capture results and metadata,
    and keep a history suitable for evaluation and error analysis.
    """
    def __init__(self, engine, max_rows: int = 1000, forbidden_tokens=None):
        self.engine = engine
        self.max_rows = max_rows
        self.history = []
        self.forbidden_tokens = forbidden_tokens or ["drop ", "delete ", "truncate ", "alter ", "create ", "update ", "insert "]

    def _safety_check(self, sql: str) -> None:
        lowered = (sql or "").strip().lower()
        if not lowered:
            raise QueryExecutionError("Empty SQL string")
        for token in self.forbidden_tokens:
            if token in lowered:
                raise QueryExecutionError(f"Destructive SQL token detected: {token.strip()}")

    def run(self, sql: str, params: Optional[Dict[str, Any]] = None, capture_df: bool = True) -> Dict[str, Any]:
        entry = {
            "sql": sql,
            "params": params,
            "timestamp": now_utc_iso(),
            "success": False,
            "rowcount": 0,
            "exec_time_s": None,
            "error": None,
            "columns": None,
            "result_preview": None,
        }
        try:
            self._safety_check(sql)
            start = datetime.now(timezone.utc)
            with safe_connection(self.engine) as conn:
                result = conn.execute(sqlalchemy.text(sql), params or {})
                rows = result.fetchall()
                cols = list(result.keys())
            end = datetime.now(timezone.utc)
            exec_time = (end - start).total_seconds()
            df = None
            if capture_df:
                df = pd.DataFrame(rows, columns=cols)
                if len(df) > self.max_rows:
                    df = df.iloc[: self.max_rows]
            entry.update({
                "success": True,
                "rowcount": min(len(rows), self.max_rows),
                "exec_time_s": exec_time,
                "columns": cols,
                "result_preview": df
            })
        except Exception as e:
            entry.update({
                "error": str(e),
                "success": False
            })
        finally:
            self.history.append(entry)
        return entry

    def last(self):
        return self.history[-1] if self.history else None

    def save_history(self, path: str):
        serializable = []
        for h in self.history:
            s = {k: v for k, v in h.items() if k != "result_preview"}
            serializable.append(s)
        with open(path, "w", encoding="utf-8") as f:
            json.dump(serializable, f, indent=2, default=str)

## QueryRunner quick test

In [10]:
qr = QueryRunner(engine, max_rows=200)
test_sql = "SELECT customerNumber, customerName, country FROM customers LIMIT 10;"
meta = qr.run(test_sql)
print("Success:", meta["success"])
if meta["success"]:
    display(meta["result_preview"])
else:
    print("Error:", meta["error"])

# List and display schema
for table_name in list_tables(engine):
    print(f"\nSchema for table: {table_name}")
    df_columns = get_table_columns(engine, table_name)
    display(df_columns)

Success: True

   customerNumber                  customerName    country
0             103             Atelier graphique     France
1             112            Signal Gift Stores        USA
2             114    Australian Collectors, Co.  Australia
3             119             La Rochelle Gifts     France
4             121            Baane Mini Imports     Norway
5             124  Mini Gifts Distributors Ltd.        USA
6             125            Havel & Zbyszek Co     Poland
7             128          Blauer See Auto, Co.    Germany
8             129               Mini Wheels Co.        USA
9             131             Land of Toys Inc.        USA

Schema for table: customers

               COLUMN_NAME DATA_TYPE IS_NULLABLE COLUMN_KEY
0           customerNumber       int          NO        PRI
1             customerName   varchar          NO
2          contactLastName   varchar          NO
3         contactFirstName   varchar          NO
4                    phone   varchar          NO
5             addressLine1   varchar          NO
6             addressLine2   varchar         YES
7                     city   varchar          NO
8                    state   varchar         YES
9               postalCode   varchar         YES
10                 country   varchar          NO
11  salesRepEmployeeNumber       int         YES        MUL
12             creditLimit   decimal         YES

Schema for table: employees

      COLUMN_NAME DATA_TYPE IS_NULLABLE COLUMN_KEY
0  employeeNumber       int          NO        PRI
1        lastName   varchar          NO
2       firstName   varchar          NO
3       extension   varchar          NO
4           email   varchar          NO
5      officeCode   varchar          NO        MUL
6       reportsTo       int         YES        MUL
7        jobTitle   varchar          NO

Schema for table: offices

    COLUMN_NAME DATA_TYPE IS_NULLABLE COLUMN_KEY
0    officeCode   varchar          NO        PRI
1          city   varchar          NO
2         phone   varchar          NO
3  addressLine1   varchar          NO
4  addressLine2   varchar         YES
5         state   varchar         YES
6       country   varchar          NO
7    postalCode   varchar          NO
8     territory   varchar          NO

Schema for table: orderdetails

       COLUMN_NAME DATA_TYPE IS_NULLABLE COLUMN_KEY
0      orderNumber       int          NO        PRI
1      productCode   varchar          NO        PRI
2  quantityOrdered       int          NO
3        priceEach   decimal          NO
4  orderLineNumber  smallint          NO

Schema for table: orders

      COLUMN_NAME DATA_TYPE IS_NULLABLE COLUMN_KEY
0     orderNumber       int          NO        PRI
1       orderDate      date          NO
2    requiredDate      date          NO
3     shippedDate      date         YES
4          status   varchar          NO
5        comments      text         YES
6  customerNumber       int          NO        MUL

Schema for table: payments

      COLUMN_NAME DATA_TYPE IS_NULLABLE COLUMN_KEY
0  customerNumber       int          NO        PRI
1     checkNumber   varchar          NO        PRI
2     paymentDate      date          NO
3          amount   decimal          NO

Schema for table: productlines

       COLUMN_NAME   DATA_TYPE IS_NULLABLE COLUMN_KEY
0      productLine     varchar          NO        PRI
1  textDescription     varchar         YES
2  htmlDescription  mediumtext         YES
3            image  mediumblob         YES

Schema for table: products

          COLUMN_NAME DATA_TYPE IS_NULLABLE COLUMN_KEY
0         productCode   varchar          NO        PRI
1         productName   varchar          NO
2         productLine   varchar          NO        MUL
3        productScale   varchar          NO
4       productVendor   varchar          NO
5  productDescription      text          NO
6     quantityInStock  smallint          NO
7            buyPrice   decimal          NO
8                MSRP   decimal          NO

## Dataset validation helper
Run the static classicmodels test set against the live DB.

In [11]:
def validate_test_set(path: str = "data/classicmodels_test_200.json", limit: Optional[int] = None):
    import json
    with open(path, "r", encoding="utf-8") as f:
        items = json.load(f)
    if limit:
        items = items[:limit]

    qr = QueryRunner(engine, max_rows=200)
    successes = []
    failures = []
    for idx, item in enumerate(items):
        meta = qr.run(item["sql"], capture_df=False)
        if meta["success"]:
            successes.append(idx)
        else:
            failures.append({
                "index": idx,
                "nlq": item.get("nlq"),
                "sql": item.get("sql"),
                "error": meta["error"],
            })
    print(f"Ran {len(items)} queries. Success: {len(successes)}. Failures: {len(failures)}.")
    if failures:
        print("Failures (first 5):")
        for f in failures[:5]:
            print(f)
    else:
        print("All queries succeeded in this run.")
    return successes, failures

## Load static test set
Use the fixed 200-sample NLQ-SQL pairs from data/classicmodels_test_200.json.

In [12]:
import json
with open('data/classicmodels_test_200.json', 'r', encoding='utf-8') as f:
    test_set = json.load(f)
print(f"Loaded {len(test_set)} test items from data/classicmodels_test_200.json")

Loaded 200 test items from data/classicmodels_test_200.json

## Load base model/tokenizer (pre-QLoRA placeholder)

In [13]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM

model_id = "meta-llama/Meta-Llama-3-8B-Instruct"

tokenizer = AutoTokenizer.from_pretrained(model_id, token=True)
model = AutoModelForCausalLM.from_pretrained(
    model_id,
    torch_dtype=torch.bfloat16,
    device_map="auto",
    token=True
)

print(f"Tokenizer and model '{model_id}' loaded successfully.")

/opt/anaconda3/lib/python3.12/site-packages/huggingface_hub/file_download.py:942: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

LocalTokenNotFoundError: Token is required (`token=True`), but no token found. You need to provide a token or be logged in to Hugging Face with `hf auth login` or `huggingface_hub.login`. See https://huggingface.co/settings/tokens.